
@font-face {
    font-family: 'NotoSans';
    src: url('../webfonts/notosans-regular.woff2') format('woff2'),
        url('../webfonts/notosans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../webfonts/notosans-medium.woff2') format('woff2'),
        url('../webfonts/notosans-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../webfonts/notosans-semibold.woff2') format('woff2'),
        url('../webfonts/notosans-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../webfonts/notosans-bold.woff2') format('woff2'),
        url('../webfonts/notosans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../webfonts/icomoon.eot');
  src:  url('../webfonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../webfonts/icomoon.ttf') format('truetype'),
    url('../webfonts/icomoon.woff') format('woff'),
    url('../webfonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e90a";
}
.icon-download:before {
  content: "\e909";
}
.icon-shuffle:before {
  content: "\e908";
}
.icon-clock:before {
  content: "\e907";
}
.icon-copy:before {
  content: "\e901";
}
.icon-info:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-lock:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e906";
}
.icon-email:before {
  content: "\e903";
}
.icon-map:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
