.modal { display: block !important; height: 0; overflow: hidden;
	&.show { background: rgba(0,0,0,0.78); height: 100%; }
	&-content { border: none; border-radius: 0; position: relative; }
	.btn-closepp { background: $blue; border: $white solid 5px; @include bd-radius (100%); color: $white; height: 70px; line-height: 60px; padding: 0; position: absolute; right: -20px; text-align: center; top: -25px; width: 70px;
		&:before { content: "\f00d"; @include fonticon(900,36px); }
		&:hover { background: $darkblue; }
	}
	&-dialog { margin-top: 30px; 
		&-scrollable {
			height: calc(100% - 140px);	min-height: calc(100% - 140px);		
			.modal { 
				&-content { overflow: visible; }
				&-body { overflow-x: hidden; }
			}
		}
	}
	&-backdrop { display: none; }	
}
.pp {
	&-image { margin: 0; width: 100%; }
	&-1 {
		.modal { 
			&-content { border: $white solid 10px; @include bd-radius (15px); 
				@include maxmedia(1440px) {
					border-width: 5px; 
				}
				img { @include bd-radius (10px); }
			}
			&-dialog { 
				@media (min-width: 992px) {
					max-width: 720px;
				}
				@media (min-width: 1440px) {
					max-width: 1400px;
				}
			}
			&-body { padding: 0; position: relative; }
		}		
		.btn-closepp { 
			@include maxmedia(1440px) {
				border-width: 3px; height: 50px; line-height: 40px; right: -20px; top: -25px; width: 50px;
				&:before { font-size: 20px; }
			}
			@include maxmedia(574px) {
				height: 40px; line-height: 34px; right: -10px; width: 40px;
			}
		}
	}
}