.accordion { color: #333;
	&-item { background: $white; border: none !important; /*box-shadow: rgba(0,0,0,0.08) 14px 14px 34px;*/ @include bd-radius (15px !important); margin: 0 0 25px !important;
		&:last-child { margin-bottom: 0 !important; }
	}
	&-header { margin: 0 !important; }
	&-button { align-items: center; background: $white !important; border: none !important; @include bd-radius (15px !important); box-shadow: none !important; color: #48420E !important; @include flexwrap; font-size: 16px; font-weight: 700; line-height: 1.2; padding: 20px 50px 20px 30px; position: relative; text-align: left; 
		&:after { align-items: center; background: none !important; @include bd-radius (0 !important); color: #707070 !important; content: "\f054"; @include flexwrap; @include fonticon(900,18px); line-height: 1; justify-content: center; position: absolute; right: 15px; text-align: center; top: 50%; transform: translateY(-50%); }
		&:hover { background: #A4A07A !important; color: $white !important; 
			&:after { color: $white !important; }
		} 
		&:not(.collapsed) { background: #A4A07A !important; color: $white !important;
			&:after { color: $white !important; content: "\f078"; transform: translateY(-50%); }
			&:hover { color: $white !important; } 
		}
		@include maxmedia(767px) {
			padding-left: 20px;
		}
	}
	&-body { padding: 30px; position: relative;
		@include maxmedia(767px) {
			padding-left: 20px; 
		}
	}
	&.acctype {
		.accordion {
			&-button { 
				strong, span, em { display: block; }
				strong { overflow: hidden; text-overflow: ellipsis; text-transform: uppercase; white-space: nowrap; }
				span { display: block; margin-top: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
				em { font-style: normal; margin-top: 5px; }
				@include minmedia(574px) {
					@include flexwrap; 
					strong { margin-right: 20px; width: 175px; }
					span { flex: 1; margin-top: 0; }
					em { margin-top: 0; padding-left: 20px; }
				}
			}
		}
	}
}
