.grid {
	&-1 { 
		h3 { align-items: center; @include flexwrap; font-size: 24px; font-weight: 700; margin: 0;
			@include maxmedia(1399px) {	
				font-size: 20px;
			}
			@include maxmedia(1299px) {	
				font-size: 18px;
			}
			@include maxmedia(767px) {	
				font-size: 16px;
			}
			@include maxmedia(640px) {	
				height: auto !important;
			}
		}		
		figure { margin: 0 0 10px;
			img { width: 100%; }
		}
		.descripts { align-items: center; padding: 10px 120px 10px 0; position: relative;
			@include maxmedia(320px) {	
				padding-right: 0;
			}
			.gactions { align-items: center; bottom: 0; @include flexwrap; font-weight: 700; position: absolute; right: 0; top: 0;
				@include maxmedia(1299px) {	
					font-size: 14px;
				}
				@include maxmedia(320px) {	
					bottom: auto; margin-top: 10px; position: relative; right: auto; top: auto;
				}
			}
		}
		.inner { background: #2D44B6; @include bd-radius (20px); color: $white; margin-bottom: 40px; padding: 20px; 
			@include maxmedia(767px) {	
				@include bd-radius (15px); padding: 15px; 
			}
			a { color: $white;
				&:hover { color: #FFEB68; }
				.icon-lock { font-size: 22px;
					@include maxmedia(320px) {	
						font-size: 20px;
					}
				}
			}
			&.lock {
				.descripts { padding-right: 50px; 
					@include maxmedia(320px) {	
						padding-right: 30px; 
					}
					.gactions { 
						@include maxmedia(320px) {	
							bottom: 0; margin: 0; position: absolute; right: 0; top: 0;
						}
					}
				}
			}
		}
	}
	&-2 { 
		.btn-1 { display: block; margin-top: 20px; padding-right: 60px; position: relative; text-align: left; 
			i { position: absolute; right: 20px; top: 50%; transform: translateY(-50%); }
			@include maxmedia(1699px) {
				padding-left: 15px; padding-right: 40px; 
			}
			@include maxmedia(1199px) {
				padding-left: 20px; 
			}
		}
		.inrow { margin-bottom: 15px; 
			strong, span { display: inline-block; }
			strong { margin-right: 10px; }	
		}
		.image { @include bd-radius (20px); width: 100%; }
		.gcol-2 { align-self: center;
			@include maxmedia(574px) {
				margin-top: 30px;
			}
		}
		.gnote { padding-right: 50px; }
		.gcontent { 
			@include minmedia(1200px) {
				padding-right: 50px; 
			}
		}
		@include minmedia(1200px) {
			.gcol {
				&-1 { width: 30%; }
				&-2 { width: 70%; }
				&-3 { width: 74%; }
				&-4 { width: 26%; }
			}
		}
		.gcol {
			@include minmedia(1200px) {
				&-3 { margin-top: 20px; width: 58%; }
				&-4 { margin-top: 20px; width: 42%; }
			}
			@include minmedia(1400px) {
				&-3 { width: 69%; }
				&-4 { width: 31%; }
			}
			@include minmedia(1500px) {
				&-3 { width: 72%; }
				&-4 { width: 28%; }
			}
			@include minmedia(1800px) {
				&-3 { width: 74%; }
				&-4 { width: 26%; }
			}
		}
		.gincol {
			@include minmedia(1400px) {
				&-1 { width: 56%; 					
					.gcontent { padding-right: 30px; }
				}
				&-2 { width: 44%; 
					.btn-1 { margin-top: 0; }
				}
			}
			@include minmedia(1500px) {
				&-1 { width: 60%; 		}
				&-2 { width: 40%; }
			}
			@include minmedia(1800px) {
				&-1 { width: 63%; 			
					.gcontent { padding-right: 55px; }
				}
				&-2 { width: 37%; }
			}
		}
	}
	&-3 { justify-content: center;
		figure { align-items: center; background: $white; @include flexwrap; justify-content: center; margin: 0 0 15px; text-align: center; }
		.form-control { @include bd-radius (5px); }
		.number { color: #1E1E1E; font-weight: 700; margin-bottom: 10px; }
		.answer { background: #fff; font-size: 20px; font-weight: 700; margin-top: 10px; padding: 10px; text-align: center; }
		.inner { background: #F8F8F8; border: #fff solid 1px; @include bd-radius (10px); margin-top: 20px; padding: 15px;
			&.ans { 
				&-right, &-wrong { 
					.number { padding-right: 40px; position: relative; 
						&:before { @include fonticon(900,24px); position: absolute; right: 0; top: 50%; transform: translateY(-50%); }
					}
				}				
				&-right { border-color: #07C426; 
					.number:before { color: #07C426; content: "\f058"; }
				}
				&-wrong { border-color: #ff0000; 
					.number:before { color: #ff0000; content: "\f057"; }
					.wrong { background: #f1f1f1; position: relative;
						&:after, &:before { background: #f00; content: ""; height: 1px; left: 50%; margin-left: -20px; position: absolute; top: 24px; width: 40px; }
						&:before { transform: rotate(45deg); }
						&:after { transform: rotate(-45deg); }
					}
				}
			}
		}
		.sp-col {			
			@include minmedia(1500px) {
				width: 20%;
			}		
			@include maxmedia(474px) {
				width: 100%;
			}
		}
	}
	&-4 { 
		.answer {
			&-true, &-false { @include bd-radius (20px); padding: 5px 50px 5px 15px; }
		}
		.grow { align-items: center; margin-bottom: 10px; margin-top: 10px; 			
			@include maxmedia(474px) {
				margin-left: -5px !important; margin-right: -5px !important;
				.sp-col { padding-left: 5px !important; padding-right: 5px !important; }
			}
		}
		.form-control { background: #FBFBFB !important; 
			@include placeholder {
				color: #333; font-style: italic;
			}
			@include placeholderfocus {
				color: transparent;
			}
		}
		.inner { background: #F8F8F8; @include bd-radius (20px); margin-bottom: 20px; padding: 20px; }
	}
	&-5 { 
		strong { font-size: 16px; font-weight: 700; }
		.form-control { background: #FBFBFB !important; @include bd-radius (5px);
			@include placeholder {
				color: #333; font-style: italic;
			}
			@include placeholderfocus {
				color: transparent;
			}
		}
		.vdwrap { margin-bottom: 10px; position: relative;
			video { display: block; width: 100%; }
			.link-fix { align-items: center; background: rgba(28,28,28,0.48); color: $white; @include flexwrap; font-size: 20px !important; justify-content: center; opacity: 0; @include transition(0.5s); 
				i { align-items: center; border: $white solid 2px; @include bd-radius (100%); @include flexwrap; height: 57px; justify-content: center; width: 57px; @include transition(0.5s); @include scale(0, 0); } 
				&:hover { opacity: 1; 
					i { @include scale(1, 1); }
				}
			}
		}
		.inner { background: #F8F8F8; @include bd-radius (20px); margin-bottom: 20px; padding: 20px 20px 20px 60px; position: relative;
			@include maxmedia(474px) {
				@include bd-radius (10px); padding: 15px 10px 15px 50px;
			}
			.number { left: 20px; position: absolute; top: 20px; 
				@include maxmedia(474px) {
					left: 10px; top: 10px;
				}
			}	
		}
	}
	&-6 {
		.item { align-items: center; background: #fff; @include bd-radius (20px); color: #48420E; @include flexwrap; font-size: 16px; font-weight: 700; margin: 10px 0; padding: 20px 50px 20px 30px; position: relative; @include transition(0.5s); 
			&:before { color: #EF3741; content: "\e909"; font-family: 'icomoon' !important;; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); }
			&:hover { background: #48420E; color: #fff;
				&:before { color: #fff; }
			}
		}
	}
	&-7 { margin-top: 30px;
		.countwrap {
			@include maxmedia(991px) {
				margin-top: 30px; text-align: center;
			}			
		}
	}
	&-8 {
		.gitem { align-items: center; margin-top: 30px; 
			.sp-col { margin-top: 20px; }
			&:nth-child(even) {
				.sp-col { 
					@include minmedia(768px) {
						&:first-child { order: 12; }
						&:last-child { order: 1; }
					}			
				}
			}
		}
	}
	&-9 { color: #1E1E1E;
		h4 { color: #535353; font-size: 20px; font-weight: 700; margin: 0 0 20px; }
		h5 { color: #989898; font-size: 14px; font-weight: 700; margin: 30px 0 10px; text-transform: uppercase; }
		p { margin: 10px 0; }
		@include minmedia(1350px) {
			.sp-col { width: 33.333%; }
		}			
		@include minmedia(1850px) {
			.sp-col { width: 25%; }
		}			
		.inner { background: #F8F8F8; @include bd-radius (30px); margin-top: 40px; padding: 30px;
			@include maxmedia(474px) {
				padding: 20px;
			}			
		}
	}
	&-10 { margin-top: 40px;
		> .sp-col { 			
			@include minmedia(1200px) {
				&:first-child { width: 54%; }		
				&:last-child { width: 46%; }		
				
			}	
			@include minmedia(1350px) {
				&:first-child { width: 58%; }		
				&:last-child { width: 42%; }
			}
		}
	}
	&-11 { background: $white; @include bd-radius (20px); box-shadow: rgba(0,0,0,0.06) 0 3px 15px; margin-top: 20px; padding: 20px 50px 20px 20px; position: relative;			
		@include maxmedia(991px) {
			margin-left: 40px;
		}		
		@include maxmedia(574px) {
			padding: 10px 40px 10px 10px;
		}		
		@include maxmedia(474px) {
			padding-right: 10px;
		}			
		h4 { color: #A4A07A; font-size: 14px; font-weight: 400; margin: 0 0 10px; }
		h5 { font-size: 16px; font-weight: 700; margin: 0 0 8px; }
		.btndelete { color: #48420E; font-size: 20px; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); 
			&:hover { color: #f00; }			
			@include maxmedia(474px) {
				right: 15px;
			}			
			@include maxmedia(474px) {
				left: -34px; top: 75px; right: auto;		
			}		
		}
		.checkbxtype { left: -40px; position: absolute; top: 70px; 		
			@include maxmedia(991px) {
				top: 45px; 		
			}			
			@include maxmedia(574px) {
				top: 35px; 		
			}			
			@include maxmedia(474px) {
				top: 20px; 		
			}		
		}
		.bg { @include bd-radius (20px); height: 120px; width: 120px;
			@include maxmedia(767px) {
				@include bd-radius (10px); height: 80px; width: 80px;
			}			
			@include maxmedia(474px) {
				height: 50px; width: 50px;
			}			
			@include maxmedia(319px) {
				height: 80px; width: 80px;
			}			
		}
		.ginner, .gcontent { @include flexwrap; }
		.ginner {		
			@include maxmedia(319px) {
				display: block;
			}	
		}
		.gcontent { align-items: center; flex: 1; padding-left: 10px; 
			@include maxmedia(991px) {
				padding-left: 0px; 
			}		
			@include maxmedia(319px) {
				padding-top: 10px; 
			}				
		}
		.gprice { font-size: 24px; font-weight: 700; text-align: right; }
		.gcol { 
			&-1, &-2, &-3 { padding: 0px 20px;				
				@include maxmedia(474px) {
					padding: 0px 15px;
				}			
				@include maxmedia(319px) {
					padding: 0px; 
				}	
			}
			&-2, &-3 { margin-top: 10px; }
			@include minmedia(1200px) {	
				&-2, &-3 { margin-top: 0px; }			
				&-1 { width: 35%; }
				&-2 { width: 45%; }
				&-3 { width: 20%; }					
			}	
		}
		&.noaction { margin-left: 0 !important; padding-right: 20px; 
			.gcol { 
				@include minmedia(768px) {			
					&-1 { width: 56%; }
					&-3 { width: 44%; text-align: right; }					
				}	
			}
		}
	}
	&-12 {
		@include maxmedia(574px) {
			margin-left: -5px; margin-right: -5px; 
		}	
		.col-3 { margin-bottom: 10px; padding-left: 5px; padding-right: 5px; 
			@include maxmedia(374px) {
				width: 50%;
			}	
		}
		a { align-items: center; border: rgba(164,160,122,0.17) solid 3px; @include bd-radius (10px); @include flexwrap; justify-content: center; padding: 20px; position: relative; @include transition(0.5s); 
			&:before { background: $white; @include bd-radius (100%); color: #A4A07A; content: "\f058"; @include fonticon(900, 16px); height: 16px; opacity: 0; position: absolute; right: 5px; top: 2px; width: 16px; }
			&:hover { border-color: #A4A07A; }
			&.active { border-color: #A4A07A;
				&:before { opacity: 1; }
			}
			@include maxmedia(474px) {
				padding: 10px; 
			}	
		}
	}
	&-13 { background: #f1f1f1; @include bd-radius (10px); margin-top: 20px; padding: 20px 20px 20px 140px; position: relative; @include transition(0.5s);
		@include maxmedia(574px) {
			padding-left: 130px;
		}	
		.gday { height: 100%; left: 0; padding: 20px; position: absolute; top: 0; width: 140px;
			@include maxmedia(574px) {
				padding-right: 10px;
			}	
		}
		.gtitle { border-left: #ccc solid 1px; font-weight: 700; padding-left: 30px;
			@include maxmedia(574px) {
				padding-left: 20px;
			}	
		}
		&:hover { background: $red; color: #fff;
		}
	}
}