.fc-popover .fc-event-title { max-width: 200px; overflow-x: hidden; text-overflow: ellipsis; }
.fc-daygrid-event-dot { border: #666 solid 3px !important; @include bd-radius (100%); }
.modal { display: block !important; height: 0; overflow: hidden;
	&.show { background: rgba(0,0,0,0.78); height: 100%; }
	&-content { border: none; border-radius: 0; position: relative; }
	.btn-closepp { background: #A4A07A; border: $white solid 2px; @include bd-radius (100%); color: $white; height: 40px; line-height: 40px; padding: 0; position: absolute; right: -20px; text-align: center; top: -25px; width: 40px;
		&:before { content: "\f00d"; @include fonticon(900,20px); }
		&:hover { background: #333; }
	}
	&-dialog { margin-top: 30px; 
		&-scrollable {
			height: calc(100% - 140px);	min-height: calc(100% - 140px);		
			.modal { 
				&-content { overflow: visible; }
				&-body { overflow-x: hidden; }
			}
		}
	}
	&-backdrop { display: none; 
		&.show { z-index: 99999; }
	}	
}
.pp {
	&-image { margin: 0; width: 100%; }
	&-1 {
		.modal { 
			&-content { border: $white solid 10px; @include bd-radius (15px); 
				@include maxmedia(1440px) {
					border-width: 5px; 
				}
				img { @include bd-radius (10px); }
			}
			&-dialog { 
				@media (min-width: 1200px) {
					max-width: 700px;
				}
			}
			&-body { padding: 50px; position: relative; }
		}	
	}
}